.quickfinder-item a.quickfinder-item-link {
  font-family: helvetica bold;
}

.wpb_text_column p:last-child {
  font-family: montserrat;
  font-size: 12px;
  color: #ffffff;
  text-transform: none;
}

.quickfinder-item .quickfinder-item-text {
  font-family: MONTSERRAT;
  font-size: 12px;
}

.quickfinder-item .quickfinder-item-title {
  font-family: Montserrat;
}

.wpb_text_column :last-child {
  font-family: nasalization;
}

.team-person-name.styled-subtitle {
  font-family: Montserrat;
}

.gem-team-style-6 .team-person-position {
  font-family: Montserrat;
  font-size: 14px;
  font-variant: small-caps;
  text-transform: none;
}

.gem-team-style-6 .team-person-email {
  font-family: Montserrat;
}

.gem-team-style-6 .team-person-phone {
  font-family: Montserrat;
  text-decoration: underline;
  font-variant: small-caps;
  text-transform: none;
  text-align: left;
  font-size: 10pt;
}
/*
     FILE ARCHIVED ON 21:37:34 Nov 21, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:25:42 Jan 14, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 155.243 (3)
  esindex: 0.008
  captures_list: 183.52
  CDXLines.iter: 13.607 (3)
  PetaboxLoader3.datanode: 202.497 (4)
  exclusion.robots: 0.15
  exclusion.robots.policy: 0.138
  RedisCDXSource: 11.737
  PetaboxLoader3.resolve: 21.86
  load_resource: 108.014
*/