.vc_row {
	margin-left: -21px;
	margin-right: -21px;
}
.vc_column_container > .vc_column-inner {
	padding-left: 21px;
	padding-right: 21px;
}
.vc_column_container > .vc_column-inner {
	padding-left: 21px;
	padding-right: 21px;
}
.vc_gitem_row {
	margin-left: 0;
	margin-right: 0;
}
/*
     FILE ARCHIVED ON 18:19:36 Nov 21, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:25:41 Jan 14, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 87.423 (3)
  esindex: 0.008
  captures_list: 103.03
  CDXLines.iter: 11.279 (3)
  PetaboxLoader3.datanode: 62.923 (4)
  exclusion.robots: 0.161
  exclusion.robots.policy: 0.148
  RedisCDXSource: 1.586
  PetaboxLoader3.resolve: 147.224 (2)
  load_resource: 151.494
*/